@import url("../../public/fonts/peyda/peyda.css");
@import url("@fullcalendar/common/main.min.css");
@import url("simplebar/src/simplebar.css");
@import url("react-image-lightbox/style.css");
@import url("mapbox-gl/dist/mapbox-gl.css");
@import url("react-quill/dist/quill.snow.css");
@import url("react-lazy-load-image-component/src/effects/blur.css");
@import url("react-lazy-load-image-component/src/effects/opacity.css");
@import url("react-lazy-load-image-component/src/effects/black-and-white.css");

::-webkit-scrollbar {
    width: 5px;
    height: 0;

    background: #333333;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa; /* or add it to the track */
    border-radius: 3px;
}
